{% load static %}
<nav class="nav-bar">

    <div class="home-page-text">
        <a href="{% url 'home' %}">Anasayfa</a>
    </div>

    <div class="left-side">


        <a href="">Filmler</a>
        <a href="">Diziler</a>
        <a href="">En iyi 100 Film</a>
    </div>

    <div class="right-side">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Çıkış yap</a>
        {% else %}
        <a href="{% url 'login' %}">Giriş yap</a>
        <a href="{% url 'register' %}">Kayıt ol</a>
        {% endif %}


    </div>

</nav>
