{% extends 'base.html' %}
{% load static %}

{% load ratings %}

{% block css %}

<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #202020;
        color: #fcf7f7;
    }

    .nav-bar {
        height: 70px;
        background-color: #0c0b00;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .home-page-text {

        left: 0;
        /* margin-right: auto; */
        margin-right: 30px;
        margin-left: 30px;
    }

    .home-page-text a {
        font-size: 25px;
        color: #fcf7f7;
        text-decoration: none;
        cursor: pointer;
        user-select: none;

    }

    .left-side {

        left: 0;
        margin-right: auto;
    }

    .left-side a {
        font-size: 20px;
        color: #fcf7f7;
        text-decoration: none;
        margin-right: 20px;
        cursor: pointer;
        user-select: none;

    }

    .right-side {
        margin-right: 30px;
    }

    .right-side a {
        font-size: 20px;
        color: #fcf7f7;
        text-decoration: none;
        margin-left: 20px;
        cursor: pointer;
        user-select: none;
    }

    a:hover {
        color: #deb522;
    }

    .container {
        margin: 50px 10% 100px;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.938) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        padding-bottom: 100px;
    }



    .up-container {
        display: flex;
    }

    .movie-img {
        height: 500px;
        margin: 30px;
        margin-bottom: 0px;
    }

    .movie-image div {
        margin: 10px 0px 30px 30px;
        font-size: 20px;
    }

    .movie-info {
        margin: 30px;
        background-color: #0000002f;
        width: 100%;
        border-radius: 10px;

    }

    .movie-info .title {
        font-size: 70px;
        margin: 50px;
        margin-top: 30px;
    }


    .movie-info-text {
        margin: 30px;
        margin-top: 0px;
        width: 90%;
        height: 60%;
    }



    .down-container {

        height: 300px;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.938) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        margin: 100px 50px;
    }


    .movie-cast {
        display: flex;
    }

    .artist {
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.938) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        height: 260px;
        width: 200px;
        margin: 20px;
    }
</style>
    
{% endblock css %}

    
{% block body %}

<div class="container">


<!-- rating style   -->
<style>
    /* Styles for the star ratings section */
    .star-ratings {
        display: inline-block;
        font-size: 24px;
        color: #f1c40f; /* Change this to your desired star color */
        margin-bottom: 10px;
      }
      
      .star-ratings .star-ratings-rating-stars-container {
        display: inline-block;
      }
      
      .star-ratings .star-ratings-rating-background,
      .star-ratings .star-ratings-rating-foreground {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      .star-ratings .star-ratings-rating-background li,
      .star-ratings .star-ratings-rating-foreground li {
        display: inline-block;
      }
      
      .star-ratings .star-ratings-rate-action {
        display: inline-block;
      }
      
      .star-ratings .star-ratings-rate-action button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;
      }
      
      .star-ratings .star-ratings-rating-empty:before,
      .star-ratings .star-ratings-rating-full:before {
        content: '\2605';
      }
      
      .star-ratings .star-ratings-rating-empty:before {
        opacity: 0.3; /* Change this to your desired empty star opacity */
      }
      
      .star-ratings .star-ratings-rating-full:before {
        opacity: 1;
      }
      
      .star-ratings-rating-average,
      .star-ratings-rating-count,
      .star-ratings-rating-user {
        display: inline-block;
        margin-left: 10px;
        color: #555555; /* Change this to your desired text color */
      }
      
      .star-ratings-errors {
        margin-top: 10px;
        color: red; /* Change this to your desired error message color */
      }
      
    </style>
    <div class="rating-section">
        {% ratings obj %}
    </div>

    
    <div class="up-container">

        <div class="movie-image">
            <img src="{{obj.image.url}}" alt="" class="movie-img">
            <div>Film Süresi :{{obj.time}} dakika </div>
            
        </div>
        <div class="movie-info">

            <div class="title">{{obj.title|title}}</div>

            <div class="movie-info-text">
                 
                <ul>
                    <li>{{obj.release_year}}</li>
                    <li>{{obj.director}}</li>
                    <li>{{obj.actors}}</li>
                </ul>

                {{obj.plot}}

            </div>

        </div>


    </div>

<!-- Actor style -->
<style>
  .movie-cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist {
    width: 200px;
    margin-bottom: 20px;
}

.actor-name {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.actor-image-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 150%; /* aspect ratio 2:3 */
    position: relative;
}

.actor-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

</style>

    <h2>Actors:</h2>
    <div class="down-container">

      <div class="movie-cast">
        {% for actor in obj.actors.all %}
        <div class="artist">
            <div class="actor-name">{{ actor.name }}</div>
            <div class="actor-image-wrapper">
                <img src="{{ actor.image.url }}" alt="" class="actor-img">
            </div>
        </div>
        {% empty %}
        <p>No actors for this movie.</p>
        {% endfor %}
    
          <div class="artist">
              name
          </div>

          <div class="artist">
              name
          </div>

          <div class="artist">
              name
          </div>

          <div class="artist">
              name
          </div>



      </div>


  </div>


    {% comment %} <div class="comments-section">
        {% for comment in comments %}
            {{comment}}
          <div class="comment">
            <p>{{ comment.user }} said:</p>
            <p>{{ comment.comment }}</p>
          </div>
        {% empty %}
          <p>No comments yet</p>
        {% endfor %}
    </div> {% endcomment %}

<!-- comment style  -->
    <style>
        .comment-section {
            margin-bottom: 20px;
          }
          
          .comment {
            background-color: #333;
            color: #fff;
            padding: 10px;
            margin-bottom: 10px;
          }
          
          .comment p {
            margin: 0;
          }
          
          .comment p strong {
            font-weight: bold;
          }
          
          .comment-form {
            margin-top: 20px;
          }
          
          .comment-form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #fff;
          }
          
          .comment-form input[type="text"],
          .comment-form input[type="email"],
          .comment-form input[type="url"],
          .comment-form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #666;
            border-radius: 4px;
            margin-bottom: 10px;
            background-color: #555;
            color: #fff;
          }
          
          .comment-form textarea {
            height: 100px;
          }
          
          .comment-form .helptext {
            color: #999;
            font-size: 12px;
          }
          
          .comment-form button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          .comment-form button:hover {
            background-color: #45a049;
          }
          
          .comment-form button:active {
            background-color: #3e8e41;
          }
          
          .comment-form button:focus {
            outline: none;
          }
          
          .comment-form input[type="checkbox"] {
            margin-right: 5px;
          }
          
    </style>
    <section>
        <div class="comment-section">
          {% for comment in comments %}
          <div class="comment">
            <p><strong>{{ comment.user.username }}</strong></p>
            <p>{{ comment.comment }}</p>
          </div>
          {% endfor %}
        </div>
      
        <form method="post" class="comment-form">
          {% csrf_token %}
          <p>
            <label for="id_name">Name:</label>
            <input type="text" name="name" placeholder="Your Name" class="form-control" required="" id="id_name">
          </p>
      
          <p>
            <label for="id_email">Email:</label>
            <input type="email" name="email" placeholder="Your Email" class="form-control" required="" id="id_email">
            <span class="helptext">Required for comment verification</span>
          </p>
      
          <p>
            <label for="id_url">Website:</label>
            <input type="url" name="url" placeholder="Your Website (Optional)" class="form-control" id="id_url">
          </p>
      
          <p>
            <label for="id_comment">Comment:</label>
            <textarea name="comment" placeholder="Your Comment" class="form-control" required="" id="id_comment"></textarea>
          </p>
      
          <p>
            <label for="id_honeypot">If you enter anything in this field, your comment will be treated as spam:</label>
            <input type="text" name="honeypot" id="id_honeypot">
          </p>
      
          <p>
            <label for="id_followup">Notify me about follow-up comments:</label>
            <input type="checkbox" name="followup" id="id_followup" class="custom-control-input">
            <input type="hidden" name="content_type" value="{{ obj.content_type }}" id="id_content_type">
            <input type="hidden" name="object_pk" value="{{ obj.object_pk }}" id="id_object_pk">
            <input type="hidden" name="timestamp" value="{{ obj.timestamp }}" id="id_timestamp">
            <input type="hidden" name="security_hash" value="{{ obj.security_hash }}" id="id_security_hash">
            <input type="hidden" name="reply_to" value="0" id="id_reply_to">
          </p>
      
          <button type="submit">Submit Comment</button>
        </form>
      </section>
      
    

      

</div>



{% endblock body %}














