{% extends 'base.html' %}
{% load comments_xtd comments %}
{% load static %}

{% block body %}



<div class="container">

    {% if query  %}
        <h1><p>Serched for : {{query|title}}</h1>
    {% endif %}
    
    <h1 class="movie-container-title">Filmler</h1>
    <div class="movies-container">

        {% for obj in all_movies  %}
            <div class="top-movie-images-container">
                <a href="{{obj.get_absolute_url}}">
                    <img src="{{obj.image.url}}" alt="" class="top-movie-images">
                </a>
        </div>
        {% endfor %}

    </div>

    <h1 class="series-container-title">Diziler</h1>
    <div class="seriess-container">

        {% for obj in all_tv_shows  %}
            <div class="top-movie-images-container">
                <a href="{{obj.get_absolute_url}}">
                    <img src="{{obj.image.url}}" alt="" class="top-movie-images">
                </a>
        </div>
        {% endfor %}
    </div>


    <h1>Önerilenler</h1>
    <div class="top-movie-container">
        {% for obj in all_objects  %}
        <div class="top-movie-images-container">
            <a href="{{obj.get_absolute_url}}">
                <img src="{{obj.image.url}}" alt="" class="top-movie-images">
            </a>
            
        </div>
        {% endfor %}

    </div>

    <h1 class="series-container-title">Top10 Movies</h1>
    <div class=" top-movie-container series-container">
        {% for movie in sorted_movies %}
            <div class="top-movie-images-container">
                <a href="{{movie.get_absolute_url}}">
                    <img src="{{movie.image.url}}" alt="" class="top-movie-images">
                </a>
                <p>{{ movie.title }}</p>
            </div>
        {% endfor %}
    </div>

    <h1 class="series-container-title"> Top10 TV Shows</h1>
    <div class="top-movie-container series-container">
        {% for tv_show in sorted_tv_shows %}
            <div class="top-movie-images-container">
                <img src="{{ tv_show.image.url }}" alt="" class="top-movie-images">
                <p>{{ tv_show.title }}</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock body %}